<div style="text-align: right;">
<a href="https://gitlab.com/materials-modeling/calorine" target="_blank">gitlab</a>
| <a href="https://materialsmodeling.org/software" target="_blank">materialsmodeling.org</a>
</div>
